* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
  list-style: none;
  text-decoration: none;
}

body {
  background: #262626;
  color: antiquewhite;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.title {
  margin-top: 30px;
  cursor: pointer;
}

.title h1 {
  padding: 10px 14px;
  border-radius: 10px;
  width: max-content;
  box-shadow: 2px 6px 14px 0px #000000ab;
}

.jogo {
  width: 100%;
  max-width: 450px;
  padding: 10px;
}

.linha {
  display: flex;
  max-width: 450px;
}

.slot {
  flex: 1;
  height: 150px;
  font-size: 130px;
  font-weight: 500;
  text-shadow: -2px 2px 4px rgba(128, 128, 128, 0.219);
  text-align: center;
  border: 3px solid #000;
  color: gray;
}

#s1,
#s2,
#s3 {
  border-top: none;
}

#s1,
#s7,
#s4 {
  border-left: none;
}

#s3,
#s6,
#s9 {
  border-right: none;
}

#s7,
#s8,
#s9 {
  border-bottom: none;
}

.modal {
  max-width: 400px;
  width: 95%;
  margin: auto;
  border: none;
  padding: 10px 20px 18px;
  border-radius: 10px;
  background: #1a1a1a;
  color: #f1f1f1;
  box-shadow: 2px 6px 14px 0px #000000ab;
}

.modal h2 {
  text-align: center;
  padding: 10px;
}

.modal h3 {
  font-size: 16px;
  text-align: center;
}

.modal h3 strong {
  font-weight: normal;
}

.modal div {
  display: flex;
  justify-content: center;
}

.modal button {
  border: none;
  background: #fff;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 6px;
  width: max-content;
  margin-top: 50px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.modal button:hover {
  color: #fff;
  background: #1a1a1a;
}
